<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12 text-center bg-filter p-5 text-white">
            <h1 class="display-3">Welcome to the Sticky Tasks!</h1>
            <p>Sticky tasks is a type of sticly notes application which helps you to keep track of your pending,
                completed and in progress tasks easily each day.</p>
            <p>
                <button (click)="continue()" mat-flat-button color="primary">Get Started &raquo;</button>
            </p>
        </div>
    </div>
</div>

<div class="user-profile">    
    <p-avatar label="P" size="large" shape="circle"></p-avatar>
</div>